
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/.vsconfig
FYP_Submission_Daniels_@00171034/Final_Build_apk_TCD
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Builds
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Library
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Logs
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/obj
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Packages
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/ProjectSettings
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/UserSettings
*.meta
*.csproj
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/XRI
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/XR
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/UnitySamples
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/TxtFiles
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Textures
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/TextMesh Pro
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/StreamingAssets
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Standard Assets
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Samples
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/ProBuilder Data
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Plugins
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Models
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Mixamo
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Materials
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/LightMaps
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Fonts
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Avatars
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Audio
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Animations
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/Assets/Scenes

FYP_Submission_Daniels_@00171034/presentation_FYP_TCD.pptx
FYP_Submission_Daniels_@00171034/FYP_Recording_Chris_Daniels.mp4
FYP_Submission_Daniels_@00171034/FinalYearProject_TCD/FinalYearProject_TCD.sln
*.prefab
